<h1>Sign in</h1>
<%= form_tag signin_path do %>
  <table>
    <tr>
      <td class="sign"><%= label_tag :email %></td>
      <td><%= text_field_tag :email %></td>
    </tr>
    <tr>
      <td class="sign"><%= label_tag :password %></td>
      <td><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <td class="find_me" colspan="2"><%= submit_tag "Sign in" %></td>
    </tr>
  </table>
<% end %>