<h3>Edit product</h3>
<%= render "layouts/errors", :object => @product %>

<%= form_for @product do |f| %>
  <table>
      <tr>
        <td class="sign"><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class="sign"><%= f.label :cost %></td>
        <td><%= f.number_field :cost, :step => 0.01 %></td>
      </tr>
      <tr>
        <td class="sign"><%= f.label :country_of_origin %></td>
        <td><%= f.text_field :country_of_origin %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit "Submit"%></td>
      </tr>
  </table>
<% end %>

<%= link_to "Back to product", product_path(@product) %>