<h1><%= @product.name %></h1>
<h3>Cost: <%= @product.cost.round(2) %></h3>
<h3>Country of Origin: <%= @product.country_of_origin %></h3>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <% @product.reviews.each do |review| %>
    <table>
      <tr>
        <td>Author: <%= review.author%></td>
      </tr>
      <tr>
        <td>Rating: <%= review.rating%></td>
      </tr>
      <tr>
        <td colspan="2">Review: "<%= review.content_body%>"</td> 
      </tr>
    </table>
    <br>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %></p>