
<table class="table text-center">
  <tr>
    <td>
      <h3>Product: <%= @product.name %></h3>
    </td>
    <td>
      <h3>Cost: <%= @product.cost.round(2) %></h3>
    </td>
    <td>
      <h3>Country of Origin: <%= @product.country_of_origin %></h3>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p><%= link_to "Add Review", new_product_review_path(@product) %></p>
      <p><%= link_to "Edit Product", edit_product_path(@product) %></p>
      <p><%= link_to "Delete Product", product_path(@product),
                          :data => {:confirm => "Are you sure?",
                                          :method => "delete"} %></p>
    </td>
  </tr>
</table>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <% @product.reviews.each do |review| %>
    <table class="review">
      <tr>
        <td>Author: <%= link_to review.author, edit_product_review_path(@product, review) %></td>
        <td id="spacing">Rating: <%= review.rating%></td>
      </tr>
      <tr>
        <td colspan="2">Posted: <%= review.updated_at %></td>
      </tr>
      <tr>
        <td colspan="2">Review: "<%= review.content_body%>"</td> 
      </tr>
    </table>
    <br>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>
<br>
<p><%= link_to "User: Add Review", new_product_review_path(@product) %></p>
<p><%= link_to "Admin: Edit Product", edit_product_path(@product) %></p>
<p><%= link_to "Admin: Delete Product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %></p>