<h1>Add Review:</h1>

<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <table>
    <tr>
      <td class="sign"><%= f.label :author %></td>
      <td><%= f.text_field :author %></td>
    </tr>
    <tr>
      <td class="sign"><%= f.label :rating %></td>
      <td><%= f.number_field :rating %></td>
    </tr>
    <tr>
      <td class="sign"><%= f.label :review %></td>
      <td><%= f.text_area :content_body %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit "Submit"%></td>
    </tr>
  </table>
<% end %>

<p><%= link_to "Go back", product_path(@product) %></p>