
<table class="table text-center">
  <tr>
    <td>
      <h3>Product: <%= @product.name %></h3>
    </td>
    <td>
      <h3>Cost: <%= @product.cost.round(2) %></h3>
    </td>
    <td>
      <h3>Country of Origin: <%= @product.country_of_origin %></h3>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p><%= link_to "Add Review", new_product_review_path(@product) %></p>
      <p><%= link_to "Edit Product", edit_product_path(@product) %></p>
      <p><%= link_to "Delete Product", product_path(@product),
                          :data => {:confirm => "Are you sure?",
                                          :method => "delete"} %></p>
    </td>
  </tr>
</table>

<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item">
    <%= link_to "Newest", product_review_newest_path(@product, @reviews), class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Oldest", product_review_oldest_path(@product, @product.reviews), class: "nav-link active" %>
  </li>
</ul>


<% if @reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <% @reviews.each do |review| %>
    <table class="review">
      <tr>
        <td>Author: <%= link_to review.author, edit_product_review_path(@product, @product.reviews) %></td>
        <td id="spacing">Rating: <%= review.rating%></td>
      </tr>
      <tr>
        <td colspan="2">Posted: <%= review.updated_at %></td>
      </tr>
      <tr>
        <td colspan="2">Review: "<%= review.content_body%>"</td> 
      </tr>
    </table>
    <br>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>