<!DOCTYPE html>
<html>
    <head>
        <title>Luigi's Lūʻau Specialty Shop</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav me-auto">
                        <div class="dropdown show">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Products
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="/products">All</a></li>
                                    <li><a class="dropdown-item" href="/products/recent">Most Recent</a></li>
                                    <li><a class="dropdown-item" href="/products/most">Most Reviews</a></li>
                                    <li><a class="dropdown-item" href="/products/us">Made in USA</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="/">Luigi's Lūʻau</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
        <div class="container">
        <span class="notice"><h2><%= flash[:notice] %></h2></span>
        <span class="notice"><h2><%= flash[:error] %></h2></span>
        <%= yield %>
        </div>
    </body>
</html>
